In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
bookings = pd.read_csv('2_bookings.csv', sep=';')
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,stays total nights,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [16]:
bookings.shape

(119390, 21)

## 2

In [11]:
bookings_head = bookings[0:7]
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,stays total nights,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

## 3

In [8]:
bookings.shape[1]

21

## 4

In [4]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

## 5

In [6]:
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

## 6

In [9]:
bookings[bookings.is_canceled == 0].country.value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

## 7

In [14]:
bookings.groupby('hotel').stays_total_nights.mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

## 8

In [15]:
sum(bookings.assigned_room_type != bookings.reserved_room_type)

14917

## 9

In [18]:
bookings[bookings.arrival_date_year == 2016].groupby('arrival_date_month').arrival_date_month.count().idxmax()

'October'

In [19]:
bookings[bookings.arrival_date_year == 2017].groupby('arrival_date_month').arrival_date_month.count().idxmax()

'May'

## 10

In [27]:
bookings[(bookings.hotel == 'City Hotel')]\
        .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False)\
        .is_canceled\
        .sum()\
        .sort_values(['arrival_date_year', 'is_canceled'], ascending=[True, False])

    arrival_date_year arrival_date_month  is_canceled
5                2015          September         1543
4                2015            October         1321
0                2015             August         1232
2                2015               July          939
1                2015           December          668
3                2015           November          301
16               2016            October         1947
12               2016               June         1720
17               2016          September         1567
6                2016              April         1539
14               2016                May         1436
15               2016           November         1360
7                2016             August         1247
13               2016              March         1108
8                2016           December         1072
11               2016               July         1043
9                2016           February          930
10               2016            January          438
25               2017                May         2217
18               2017              April         1926
23               2017               June         1808
22               2017               July         1324
24               2017              March         1278
19               2017             August         1123
21               2017            January         1044
20               2017           February          971

## 11

In [28]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

## 12

In [29]:
bookings['total_kids'] = bookings.children + bookings.babies

In [33]:
bookings.groupby('hotel').total_kids.mean().sort_values(ascending=False)[0].round(2)

0.14

## 13

In [35]:
bookings['has_kids'] = bookings.total_kids > 0

In [38]:
100 * bookings.groupby('has_kids').is_canceled.mean().round(4).max()

37.22

In [10]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [7]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03